[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
# Step 1 and Step 2 details are here..
# ------------------------------------
User=jovyan
Group=jovyan
ExecStart=/opt/conda/bin/jupyter-notebook  --notebook-dir=/home/jovyan/work --ip={{ listen }} --port=8888 --no-browser --log-level=INFO --NotebookApp.allow_password_change=False --NotebookApp.token="{{ jupyter_token }}" --NotebookApp.allow_origin='*' --NotebookApp.allow_remote_access=True
#ExecStart=/home/jovyan/launch_jupyter.sh
WorkingDirectory=/home/jovyan/work
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
